body{
    background-color: #3A5A40;
}
h2, h3 {
    color: #3A5A40;
    font-family: Dancing Script;
    font-weight: bolder;
}
p {
    font-family: Protest Riot;
}
#navbar{
    background-color: #3A5A40;
}
#mainPage{
    background-color: #DAD7CD;
}
#maps {
    background-color: #DAD7CD;
    width: 100%;
    height: auto;
}
#leaves {
    width: 50%;
    height: auto;
}
#invite{
    position: relative;
    overflow: hidden;
}
#pic{
    height: auto;
    width: 100%;
    border-radius: 20%;
}
#overlayText{
    font-size: 4rem;
    color: #3A5A40;
    /*
    position: absolute;
    transform: translate(-50%, -50%);
    color: #3A5A40;
    font-size: 5rem;
    z-index: 1;
    -webkit-text-stroke: 2px #DAD7CD;
    */
}
#location{

}
#rsvp{

}
#thanks{

}
#treePic{
    border-radius: 20%;
    height: auto;
    width: 50%;
}